<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear /> <!-- ensure only the sources defined below are used -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Telerik.UI.for.AspNet.Core.Trial.2022.2.510" value=".\\nuget" />
        <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
    </packageSources>
</configuration> 

