@page
@model Telerik.Examples.RazorPages.Pages.Captcha.CaptchaIndexModel

@using Telerik.Examples.RazorPages.Models
@using Kendo.Mvc.UI

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{
    var token = Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
}

@(Html.Kendo().Form<OrderViewModel>()
        .Name("formExample")
        .FormData(Model.Order)
        .HtmlAttributes(new { method = "POST" })
        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(true);
            v.ErrorTemplate("<span style='color: red'>#:message#</span>");
        })
        .Items(items =>
        {
            items.AddAntiForgeryToken(Html.AntiForgeryToken());
            items.Add()
                .Field(f => f.ShipName)
                .Label(l => l.Text("Ship Name:"))
                .Hint("Hint: Ship Name must be at least 5 characters long to pass server validation rules");
            items.Add()
                .Field(f => f.ShipCity)
                .Label(l => l.Text("Ship City"));
            items.Add()
                .Field(f => f.OrderDate)
                .Editor(e => e.DatePicker())
                .Label(l => l.Text("Order Date:"));
            items.Add()
                .Field(f => f.Freight)
                .Editor(e => e.NumericTextBox())
                .Label(l => l.Text("Freight:"));
            items.Add()
                .Field("Captcha")
                .Label("")
                .Editor(ed => ed.Captcha()
                    .CaptchaImage((string)ViewData["Captcha"])
                    .CaptchaId((string)ViewData["CaptchaID"])
                    .DataCaptchaField("Captcha")
                    .DataCaptchaIdField("CaptchaID")
                    .Handler(handler => handler.Url(Url.Page("CaptchaIndex", "Reset")))
                    .AudioHandlerFunction("audioHandler")
                    .ValidationHandler(handler => handler.Url(Url.Page("CaptchaIndex", "Validate")))
                );
        })
)

<script>
    function audioHandler(args) {
        args.success("../shared/UserFiles/Folders/captcha/" + args.data.CaptchaID + ".wav");
    }
</script>