@page
@model Telerik.Examples.RazorPages.Pages.Captcha.SuccessModel

<div>
    <h4>Server validation successful!</h4>

    <p style="margin-top: 1em;">
        <a href='@Url.Page("CaptchaIndex")' class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md">Go back</a>
    </p>
</div>