@page
@model Telerik.Examples.RazorPages.Pages.ListView.ListViewCrudOperationsModel
@{
    ViewData["Title"] = "ListViewCrudOperations";
}

@using Telerik.Examples.RazorPages.Models

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<h1>ListViewCrudOperations</h1>

<script type="text/x-kendo-tmpl" id="template">
    <div class="product-view k-widget">
        <dl>
            <dt>Product Name</dt>
            <dd>#:ProductName#</dd>
            <dt>Unit Price</dt>
            <dd>#:kendo.toString(UnitPrice, "c")#</dd>
            <dt>Units In Stock</dt>
            <dd>#:UnitsInStock#</dd>
            <dt>Discontinued</dt>
            <dd>#:Discontinued#</dd>
        </dl>
        <div class="edit-buttons">
            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-i-edit"></span></a>
            <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-i-delete"></span></a>
        </div>
    </div>
</script>

<a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-i-add"></span>Add new record</a>
@(Html.Kendo().ListView<Product>()
    .Name("listview")
    .TagName("div")
    .ClientTemplateId("template")
    .Pageable()
    .Editable(editable => editable.TemplateName("ListViewEditor"))
    .DataSource(ds => ds
        .Ajax()
        .Model(model => {
            model.Id(p => p.ProductID);
        })
        .PageSize(18)
        .Create(create => create.Url("/ListView/ListViewCrudOperations?handler=Create").Data("forgeryToken"))
        .Read(read => read.Url("/ListView/ListViewCrudOperations?handler=Read").Data("forgeryToken"))
        .Update(update => update.Url("/ListView/ListViewCrudOperations?handler=Update").Data("forgeryToken"))
        .Destroy(destroy => destroy.Url("/ListView/ListViewCrudOperations?handler=Destroy").Data("forgeryToken"))
    )
)

<script>
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }

    $(document).ready(function () {
        var listView = $("#listview").data("kendoListView");

        $(".k-add-button").click(function (e) {
            listView.add();
            e.preventDefault();
        });
    });
</script>

<style>
    .product-view {
        float: left;
        width: 50%;
        height: 300px;
        box-sizing: border-box;
        border-top: 0;
        position: relative;
    }

        .product-view:nth-child(even) {
            border-left-width: 0;
        }

        .product-view dl {
            margin: 10px 10px 0;
            padding: 0;
            overflow: hidden;
        }

        .product-view dt, dd {
            margin: 0;
            padding: 0;
            width: 100%;
            line-height: 24px;
            font-size: 18px;
        }

        .product-view dt {
            font-size: 11px;
            height: 16px;
            line-height: 16px;
            text-transform: uppercase;
            opacity: 0.5;
        }

        .product-view dd {
            height: 46px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

            .product-view dd .k-widget,
            .product-view dd .k-textbox {
                font-size: 14px;
            }

    #example .k-listview {
        border-width: 1px 0 0;
        padding: 0;
        overflow: hidden;
        min-height: 298px;
    }

    .edit-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: right;
        padding: 5px;
        background-color: rgba(0,0,0,0.1);
    }

    .k-pager-wrap {
        border-top: 0;
    }

    span.k-invalid-msg {
        position: absolute;
        margin-left: 6px;
    }

    .k-add-button {
        margin-bottom: 2em;
    }

    @@media only screen and (max-width : 620px) {

        .product-view {
            width: 100%;
        }

            .product-view:nth-child(even) {
                border-left-width: 1px;
            }
    }
</style>