@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron index-container">
    <h1>Welcome to the Telerik UI for Core Examples Repository</h1>
    <p class="lead text-muted">Select an example from the list to the left and then you can see it in action. Furthermore, you can select the tab options in order to see the code files in a convenient fashion. Click on the image below to read more about the product:</p>
    <a href="https://www.telerik.com/aspnet-core-ui" alt="https://www.telerik.com/aspnet-core-ui" target="_blank"><img style="width: 1110px" src="~/images/logo.png" /></a>
</div>
