@page
@model Telerik.Examples.RazorPages.Pages.Chat.ChatIndexModel
@{
    ViewData["Title"] = "ChatIndex";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<h1>Chat bound to remote data</h1>

@(Html.Kendo().Chat()
    .Name("chat")
    .Height("600px")
    .Width("400px")
    .AuthorId("1")
    .TextField("Text")
    .AuthorNameField("AuthorName")
    .FilesField("Files")
    .AuthorIdField("AuthorId")
    .AuthorImageUrlField("AuthorImageUrl")
    .AuthorImageAltTextField("AuthorImageAltText")
    .TimestampField("TimeStamp")
    .IdField("Id")
    .IsPinnedField("IsPinned")
    .IsDeletedField("IsDeleted")
    .IsTypingField("IsTyping")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(r => r.Url("/Chat/ChatIndex?handler=ReadMessages").Data("forgeryToken"))
        .Create(r => r.Url("/Chat/ChatIndex?handler=CreateMessage").Data("forgeryToken"))
        .Update(r => r.Url("/Chat/ChatIndex?handler=UpdateMessage").Data("forgeryToken"))
    )
    .Events(events => events.SendMessage("onSendMessage"))
)

<script>
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }

    function onSendMessage(e) {
        const currentUser = {
            id: 1,
            name: "John Doe",
            iconUrl: "https://demos.telerik.com/aspnet-core/shared/web/Customers/RICSU.jpg",
            iconAltText: "John's profile picture"
        };

        e.message.authorId = currentUser.id;
        e.message.authorName = currentUser.name;
        e.message.authorImageUrl = currentUser.iconUrl;
        e.message.authorImageAltText = currentUser.iconAltText;

        setTimeout(() => {
            e.sender.scrollToBottom();
        }, 30);
    }
</script>
