@page
@model Telerik.Examples.RazorPages.Pages.MediaPlayer.MediaPlayerPlaylistModel
@{
    ViewData["Title"] = "MediaPlayerPlaylist";
}

@using Telerik.Examples.RazorPages.Models

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<script type="text/x-kendo-template" id="template">
    <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')"
        onmouseout="$(this).removeClass('k-state-hover')">
        <span>
            <img src="#:Poster#" />
            <h5>#:Title#</h5>
        </span>
    </li>
</script>

@(Html.Kendo().MediaPlayer()
        .Name("mediaPlayer")
        .AutoPlay(false)
        .HtmlAttributes(new { style = "height:720px" })
)

<div class="k-list-container playlist">
    @(Html.Kendo().ListView<Video>()
            .Name("listView")
            .TagName("ul")
            .ClientTemplateId("template")
            .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Url("/MediaPlayer/MediaPlayerPlaylist?handler=Read").Data("forgeryToken"))
                )
            .Selectable(true)
            .Events(e => e
                .Change("onChange")
                .DataBound("onDataBound"))
        )
</div>

<script>
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }

    function onChange() {
        var index = this.select().index();
        var dataItem = this.dataSource.view()[index];
        
        $("#mediaPlayer").data("kendoMediaPlayer").media({
            title: dataItem.Title,
            poster: dataItem.Poster,
            source: dataItem.Source
        });
    }

    function onDataBound() {
        this.select(this.content.children().first());
    }
</script>

<style>
    .k-mediaplayer {
        float: left;
        box-sizing: border-box;
        width: 70%;
    }

    .playlist {
        float: left;
        height: 720px;
        overflow: auto;
        width: 30%;
    }

    @@media(max-width: 800px) {
        .playlist,
        .k-mediaplayer {
            width: 100%;
        }
    }

    .playlist ul, .playlist li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .playlist .k-item {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding: 14px 15px;
    }

        .playlist .k-item:last-child {
            border-bottom-width: 0;
        }

    .playlist span {
        cursor: pointer;
        display: block;
        overflow: hidden;
        text-decoration: none;
    }

        .playlist span img {
            border: 0 none;
            display: block;
            height: 56px;
            object-fit: cover;
            width: 100px;
            float: left;
        }

    .playlist h5 {
        display: block;
        font-weight: normal;
        margin: 0;
        overflow: hidden;
        padding-left: 10px;
        text-align: left;
    }
</style>