@page
@model Telerik.Examples.RazorPages.Pages.Window.WindowIndexModel
@{
    ViewData["Title"] = "WindowIndex";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<h1>WindowIndex</h1>

@(Html.Kendo().Window()
    .Name("window")
    .Title("About Alvar Aalto")
    .Content(@<text>        
            @Model.Text
    </text>)
    .Actions(actions => actions
        .Minimize()
        .Maximize()
        .Close()
    )
    .Draggable()
    .Resizable()
    .Width(600)
    .Events(ev => ev.Close("onClose"))
)

<span id="undo" style="display:none" class="k-button">Click here to open the window.</span>

<script>
    function onClose() {
        $("#undo").show();
        console.log("Window is closed")
    }

    $(document).ready(function () {
        $("#undo").bind("click", function () {
            $("#window").data("kendoWindow").open();
            $("#undo").hide();
        });
    });
</script>
