@page
@model Telerik.Examples.RazorPages.Pages.Form.SuccessModel

<div>
    <h4>Server validation successful!</h4>

    <p style="margin-top: 1em;">
        <a href='@Url.Page("FormStandardSubmit")' class="k-button k-primary">Go back</a>
    </p>
</div>
