@page
@model Telerik.Examples.RazorPages.Pages.ListBox.ListBoxBindingModel

<label for="optional" id="employees">Employees</label>
<label for="selected">Developers</label>
<br />

@(Html.Kendo().ListBox()
            .Name("optional")
            .Toolbar(toolbar =>
            {
                toolbar.Position(ListBoxToolbarPosition.Right);
                toolbar.Tools(tools => tools
                    .MoveUp()
                    .MoveDown()
                    .TransferTo()
                    .TransferFrom()
                    .TransferAllTo()
                    .TransferAllFrom()
                    .Remove()
                );
            })
            .DataSource(ds=>ds.Read(r=>r.Url("/ListBox/ListBoxBinding?handler=ReadOptional")))
            .ConnectWith("selected")
        )
@(Html.Kendo().ListBox()
            .Name("selected")
            .BindTo(new List<string>())
            .Selectable(ListBoxSelectable.Multiple)
        )

<style>
    label {
        margin-bottom: 5px;
        font-weight: bold;
        display: inline-block;
    }

    .k-listbox {
        width: 236px;
        height: 350px;
    }

    .k-listbox:first-of-type {
        width: 270px;
        margin-right: 1px;
    }
</style>