@page
@model Telerik.Examples.RazorPages.Pages.Notification.NotificationIndexModel
@{
    ViewData["Title"] = "NotificationIndex";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<h1>NotificationIndex</h1>

<button id="showNotification" class="k-button">Show notification</button>
<button id="hideAllNotifications" class="k-button">Hide All Notifications</button>

@(Html.Kendo().Notification()
    .Name("notification")
    .Width("20em")
    .Templates(t =>
    {
        t.Add().Type("info")
            .ClientTemplate("<div>TEXT: <span class='custom-style'>#: text #</span> </div> <div>TIME: <span class='custom-style'>#: time #</span> </div>");
    })
)
<script>
    $(document).ready(function () {

        $("#showNotification").click(function () {
            $.ajax({
                url: '/Notification/NotificationIndex?handler=Read',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                dataType: "json",
                success: function (response) {
                    // Show notification based on the returned data from the server                    
                    var notification = $("#notification").getKendoNotification();
                    notification.show({
                        text: response.Text,
                        time: kendo.toString(new Date(response.Time), "dd MMMM yy hh:mm tt")
                    }, "info");
                }
            });
        });

        $("#hideAllNotifications").click(function () {
            var notification = $("#notification").getKendoNotification();
            notification.hide();
        });
    });
</script>
<style>
    .custom-style {
        font-weight: bold;
    }
</style>

