
@{
    ViewData["Title"] = "DragAndDropBetweenGrids";
}

@using Telerik.Examples.Mvc.Models

<h1>DragAndDropBetweenGrids</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-6">
            @(Html.Kendo().Grid<OrderViewModel>()
            .Name("grid1")
            .Columns(columns =>
            {
            columns.Bound(p => p.OrderID).Filterable(false);
            columns.Bound(p => p.Freight);
            columns.Bound(p => p.OrderDate).Format("{0:MM/dd/yyyy}");
            columns.Bound(p => p.ShipName);
            columns.Bound(p => p.ShipCity);
            })
            .Pageable()
            .Sortable()
            .Scrollable()
            .Filterable()
            .HtmlAttributes(new { style = "height:250px;" })
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Read(read => read.Action("Orders_Read", "DragAndDropBetweenGrids"))
            )
            .Events(e => e.DataBound("insertNoRecordsRow"))
            )
        </div>
        <div class="col-xs-18 col-md-6">
            @(Html.Kendo().Grid<OrderViewModel>()
        .Name("grid2")
        .Columns(columns =>
        {
            columns.Bound(p => p.OrderID).Filterable(false);
            columns.Bound(p => p.Freight);
            columns.Bound(p => p.OrderDate).Format("{0:MM/dd/yyyy}");
            columns.Bound(p => p.ShipName);
            columns.Bound(p => p.ShipCity);
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:250px;" })
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("Orders_Read2", "DragAndDropBetweenGrids"))
        .PageSize(20)
        )
        .Events(e => e.DataBound("insertNoRecordsRow"))
            )
        </div>
    </div>
</div>

@(Html.Kendo().Sortable()
    .For(".k-grid table")
    .ConnectWith(".k-grid table")
    .Filter(">tbody >tr")
    .Disabled(".no-drag") //do not allow transferring the no records row
    .Cursor("move")
    .HintHandler("$.noop")
    .PlaceholderHandler("placeholder")
    .Events(events => events.Change("onChange"))
)

<script>
    var dataItem = null;

    function placeholder(element) {
        return element.clone().addClass("k-state-hover").css("opacity", 0.65)
    }

    function onChange(e) { //change event handler implementation may differ according to the scenario
        var grid = this.element.closest(".k-grid").data("kendoGrid");
        var skip = grid.dataSource.skip();
        var oldIndex = e.oldIndex + skip;
        var newIndex = e.newIndex + skip;

        if (e.action == "remove") {
            dataItem = grid.dataSource.getByUid(e.item.data("uid"));
            grid.dataSource.remove(dataItem);
        } else if (e.action == "receive" && dataItem != null) {
            grid.dataSource.insert(newIndex, dataItem);
            dataItem = null;
        } else if (e.action == "sort") {
            dataItem = grid.dataSource.getByUid(e.item.data("uid"));

            grid.dataSource.remove(dataItem);
            grid.dataSource.insert(newIndex, dataItem);
        }

        grid.saveChanges();
    }

    function insertNoRecordsRow() {
        if (!this.dataSource.data().length) {
            this.tbody.append($("<tr class='no-drag' colspan='2'><td>No records</td></tr>"));
        }
    }
</script>
