
@{
    ViewData["Title"] = "CustomPopUpEditorTagHelper";
}

<h1>CustomPopUpEditorTagHelper</h1>

<kendo-grid name="grid" resizable="true" navigatable="true" selectable="single row" height="550">
    <datasource page-size="20" server-filtering="true" server-paging="true" type="DataSourceTagHelperType.Ajax">
        <transport>
            <read url="/CustomPopUpEditorTagHelper/EditingInline_Read" />
        </transport>
        <schema data="Data" total="Total">
            <model id="Id">
                <fields>
                    <field name="FirstMidName" type="string"></field>
                    <field name="LastName" type="string"></field>
                    <field name="Birthday" type="date"></field>
                </fields>
            </model>
        </schema>
    </datasource>
    <groupable enabled="true" />
    <pageable button-count="5" refresh="true" page-sizes="new int[] { 5,10,20,50}">
    </pageable>
    <sortable enabled="true" />
    <editable mode="inline" />
    <filterable enabled="true" />
    <columns>
        <column field="FirstMidName" editor="firstMidNameEditor" title="First Mid Name" width="240" />
        <column field="LastName" title="Last Name" />
        <column field="Birthday" title="Enrollmen Date" />
        <column field="Status.Text" title="Status" editor="statusEditor" />
        <column>
            <commands>
                <column-command name="edit"></column-command>
            </commands>
        </column>

    </columns>

</kendo-grid>

<script>
    function firstMidNameEditor(container, options) {
          var grid = $('#grid').data('kendoGrid');
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                dataSource: {
                    data: grid.dataSource.data().map(function (x) {
                        return x.FirstMidName;
                    }).filter(function (value, index, self) {
                        return self.indexOf(value) === index;
                    })
                }
            });
    }

    function statusEditor(container, options) {
        $('<input required name="Status"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataTextField: "Text",
                dataValueField: "Id",
                dataSource: [
                    { Id: 1, Text: 'Active' },
                    { Id: 2, Text: 'Inactive' }
                ]
            });
    }

</script>